---
title: "About"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
  key: About
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Me</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About</span>
      <h2 class="cs-title">Mia Harper Photography</h2>
      <p class="cs-text">
        Welcome to the visual odyssey of Mia Harper, a Detroit-born photographer
        with a passion for capturing the untold stories of our city. Through the
        lens of her camera, Mia reveals the raw beauty and unfiltered resilience
        of Detroit—a place she calls home. Growing up surrounded by the echoes
        of Motown and the hum of automotive innovation, Mia's journey into
        photography was a natural evolution. Armed with her grandmother's
        vintage film camera, Mia embarked on a visual exploration, discovering
        the intricate dance between decay and renewal within the city's streets.
      </p>
      <p class="cs-text">
        Mia's photography is a testament to the soul of Detroit, where each
        image is a brushstroke in the canvas of a city in perpetual
        metamorphosis. Whether she's uncovering the hidden poetry in abandoned
        structures or capturing the spirit of local communities, Mia's work
        transcends the visual, offering a narrative that speaks to the heart of
        Detroit's collective story. Join Mia on this visual journey through the
        lens—a celebration of Detroit's resilience, creativity, and the enduring
        beauty found in the midst of change.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
          consequat tincidunt turpis sit amet imperdiet for mind.
        </p>
        <span class="cs-name">Justin Time</span>
        <span class="cs-job">CEO-Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/projects" class="cs-button-solid">Our Projects</a>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
