---
title: "About"
description: "Learn about Mia Harper, a passionate photographer rooted in Detroit's cultural tapestry. Explore her visual storytelling journey, from the heart of Motown to the celebration of Detroit's resilience, creativity, and enduring beauty."
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/construction-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/construction.jpg"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/construction.jpg"
          alt="house"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">About Me</span>
      <h2 class="cs-title">Mia Harper Photography</h2>
      <p class="cs-text">
        Step into the captivating world of Mia Harper, a Detroit-born
        photographer driven by a profound love for her city. Raised in the
        heartbeat of Motown, Mia's lens captures the dynamic essence of Detroit,
        showcasing its resilience, creativity, and the myriad stories that
        unfold within its neighborhoods. Guided by an early fascination with
        storytelling through imagery, Mia's photography is a celebration of the
        vibrant spirit coursing through the streets of her hometown.
      </p>
      <p class="cs-text">
        Mia's work goes beyond the visual—each photograph is a chapter in
        Detroit's ongoing narrative. From the lively markets to the intricate
        details of street art, Mia's lens paints a portrait of a city in
        perpetual transformation. Rooted in the rich cultural tapestry of
        Detroit, Mia's mission is to share the stories of its people, the
        struggles they've faced, and the triumphs they've achieved. Join Mia on
        this visual exploration, where every frame tells a tale of resilience,
        community, and the enduring beauty that defines the Motor City.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Classei
          consequat tincidunt turpis sit amet imperdiet for mind.
        </p>
        <span class="cs-name">Justin Time</span>
        <span class="cs-job">CEO-Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/projects" class="cs-button-solid">Our Projects</a>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
